<div id="about" class="section scrollspy white lighten-1">
  <div class="container center-align story">
    <h1 class='grey-text text-darken-2'>About Me</h1>
    <div class="container center-align" >
      <div class="carousel" data-indicators="true">
        <a class="carousel-item" href="#two!"><img src="/assets/images/me3.jpg" height="250" /></a>
        <a class="carousel-item" href="#three!"><img src="/assets/images/me2.jpg" height="250" /></a>
        <a class="carousel-item" href="#four!"><img src="/assets/images/me1.jpg" height="250" /></a>
        <a class="carousel-item" href="#five!"><img src="/assets/images/me.jpg" height="250" /></a>
      </div>

    <ul id="about-description" class="left-align collapsible popout" data-collapsible="accordion">
      <li>
        <div class="blue darken-2 active collapsible-header">Origin</div>
        <div class="grey lighten-2 collapsible-body">
          Hello, as you can tell by the unnecessary amount of times it appears on
          my website, my name is Malek Masri. I am a first generation Lebanese-American
          and was born in Arlington, Texas in January of 1994. I moved to Colorado in October of 2014.
        </div>
      </li>
      <li>
        <div class="blue darken-2 collapsible-header">Hobbies</div>
        <div class="grey lighten-3 collapsible-body">
          <p>
            Video games have been a passion of mine since I was young. As a child, I
             would visit my cousins house with the fixed intent of playing his Super
             Nintendo until I had to go home. Though video games were the primary source
             of my focus, I had taking a liking to the competitive aspect of sports. Eventually
             I would fuse the two passions to play video games competitevely.
          </p>
          <p>
            The further from my teens the number representing my years of life becomes,
            the more I find myself trying to experience the unkown. To do things that
            are not necessarily new, but new to me. I have come to enjoy adventuring
            the mountains in/on/through as many ways as I can.
          </p>
        </div>
      </li>
      <li>
        <div class="blue darken-2 collapsible-header">Other Interests</div>
        <div class="grey lighten-2 collapsible-body">
          <p>
            I am very passionate about music and the amazing fictional stories people
            create using their personal experiences. I am very open to all varieties
            of music, however, my favorite artists are The Killers. The mediums I mainly use to enjoy
            these stories are anime's, audiobooks, and movies, but I am always looking for more suggestions.
          </p>
          <p>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
