<div class='center-align story'>
  <h1 class='blue-text'>About Me</h1>
  <h5 class='orange-text'>(Warning: This is personal not professional)</h5>
    <div class="white-text">
      <p>
        Hello, as you can tell by the unnecessary amount of times it appears on
        my website, my name is Malek Masri.I am a first generation Lebanese-American
         and was born in Arlington, Texas in January of 1994.
      </p>
      <p>
        I moved to Denver, Colorado three years ago and have loved every minute
        of it. I play video games competitively and really enjoy everything to
        do with the mountains. I am fluent in English and conversational in Arabic.
      </p>
    </div>
</div>
