<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo bolf italic">Meet Malek Masri</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="blue darken-3">
          <a class="yellow-text text-darken-2" routerLink="/">Home</a>
        </li>
        <li class="orange darken-3">
          <a class="blue-text text-darken-2" routerLink="/">Project</a>
        </li>
        <li class="yellow darken-2">
          <a class="orange-text text-darken-4" routerLink="/resume">Resume</a>
        </li>
        <li class="blue lighten-1">
          <a class="green-text text-darken-3" routerLink="/about-me">About Me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contacting Malek Masri</h5>
        <p class="grey-text text-lighten-4">Please contact me using the following channels. </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/mmm9707"><i class="small material-icon fa fa-github"></i> &nbsp; Github </a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/malek-masri-579239152/"><i class="blue small material-icon fa fa-linkedin"></i> &nbsp; LinkedIn</a></li>
          <li><a class="grey-text text-lighten-3" href="mailto:malekmasri94@gmail.com"><i class="small material-icon fa fa-envelope"></i> &nbsp; Email</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
