<router-outlet></router-outlet>

<story></story>
<resume></resume>
<project></project>


<footer id="contact" class="section scrollspy page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contacting Malek Masri</h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contacting Malek Masri</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/mmm9707">
            <i class="small material-icon fa fa-github"></i> &nbsp; Github </a>
          </li>
          <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/malek-masri-579239152/">
            <i class="blue small material-icon fa fa-linkedin"></i> &nbsp; LinkedIn</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="mailto:malekmasri94@gmail.com">
            <i class="small material-icon fa fa-envelope"></i> &nbsp; malekmasri94@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
