<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">Meet Malek Masri</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="blue darken-3">
          <a class="yellow-text text-darken-2" routerLink="/">Home</a>
        </li>
        <li class="orange darken-3">
          <a class="blue-text text-darken-2" routerLink="/">Portfolio</a>
        </li>
        <li class="yellow darken-2">
          <a class="orange-text text-darken-4" routerLink="/">Resume</a>
        </li>
        <li class="blue lighten-1">
          <a class="green-text text-darken-3" routerLink="/">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
