<div class="orange darken-2">
  <div id="resume" class="section scrollspy container white-text">
    <h1 class="center-align">RESUME</h1>
      <h3>Introduction :</h3>
        <p>
          I am a self taught front-end web developer seeking my first professional job. I have created experimental applications and would like to move forward in pursuing a career in front-end web development. I am eager to participate in and understand the software development life cycle.
        </p>
        <p>
          As stated on my homepage, I am profecient in HTML/CSS/SCSS/JS/Angular2/Jquery. I am familiar with using github as a means of version control. I am eager to learn new technologies and working with team members to accomplish large scale projects.
        </p>
      <h3>Work Experience :</h3>
        <div class="row">
          <div class="center-align col s2">
            <h4 class="company">Towne Park-</h4>
            <p class="position">Assistant Account Manager<br>
               (2/XX/2015 - 5/20/2017)
            </p>

          </div>
          <div class="skills valign-wrapper col s10">
            <p>*Created and maintained schedules for 80+ employees across multiple locations.<br>
               *Managed payroll for 80+ employees across multiple locations.<br>
               *Proficient in asset loss mitigation and conflict resolution.<br>
               *Proficient in MS Office applications. </p>
          </div>
        </div>
  </div>
</div>
