/* You can add global styles to this file, and also import other style files */
@import '~materialize-css/sass/components/_color.scss';
$roboto-font-path: '~materialize-css/dist/fonts/roboto/';

$primary-color: darken(grey, 20) !default;

@import '~materialize-css/sass/materialize.scss';

.carousel .carousel-item {
  width:300px ;
}

.highlight {
  background-color: lighten(grey, 2);
}

.home-background{
  background: url("/assets/images/night-sky.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}

#navbar{
  opacity: .5px;
}

#welcome {
  opacity: 0.5;
}

#home-content {
  padding-top: 150px;
}
