/* You can add global styles to this file, and also import other style files */
@import '~materialize-css/sass/components/_color.scss';
$roboto-font-path: '~materialize-css/dist/fonts/roboto/';

$primary-color: darken(grey, 20) !default;

@import '~materialize-css/sass/materialize.scss';

.carousel .carousel-item {
  width:300px ;
}
