<div class="home-background">
  <nav id="navbar">
    <div>
      <div class="container">
        <div class="nav-wrapper">
          <a  class="center brand-logo bolf italic">Meet Malek Masri</a>
          <ul id="nav-mobile" class="left hide-on-small-and-down">
            <li>
              <a class="white-text text-darken-2" href="#contact">Contact Me</a>
            </li>
            <li >
              <a class="green-text text-darken-2" href="#project">Project</a>
            </li>
            <li >
              <a class="orange-text text-darken-2" href="#resume">Resume</a>
            </li>
            <li >
              <a class="yellow-text" href="#about" >About Me</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div id="home-content" class="center-align">
    <h2 id="home-title" class="white-text text-darken-2">Junior Front End Web Developer</h2>
    <h4 class="white-text text-darken-2">
      Proficient in HTML/CSS/SCSS/
        <br class="hide-on-large-only">
      JS/Angular2/Jquery</h4>
  </div>
</div>

<story></story>
<resume></resume>
<project></project>
