<div class="container center-align grey lighten-2" >
  <div class="carousel" data-indicators="true">
    <a class="carousel-item" href="#two!"><img src="/assets/images/me3.jpg" height="250" /></a>
    <a class="carousel-item" href="#three!"><img src="/assets/images/me2.jpg" height="250" /></a>
    <a class="carousel-item" href="#four!"><img src="/assets/images/me1.jpg" height="250" /></a>
    <a class="carousel-item" href="#five!"><img src="/assets/images/me.jpg" height="250" /></a>
  </div>

  <h2 class="blue-text text-darken-2">Junior Front End Web Developer</h2>
  <h4 class="orange-text text-darken-2">Profecient in HTML/CSS/SCSS/JS/Angular2/Jquery</h4>
  <br>
</div>
