<div class="container center-align" >
  <div class="carousel" data-indicators="true">
    <a class="carousel-item" href="#two!"><img src="/assets/images/me3.jpg" height="150" /></a>
    <a class="carousel-item" href="#three!"><img src="/assets/images/me2.jpg" height="150" /></a>
    <a class="carousel-item" href="#four!"><img src="/assets/images/me1.jpg" height="150" /></a>
    <a class="carousel-item" href="#five!"><img src="/assets/images/me.jpg" height="150" /></a>
  </div>

  <h2>Junior Front End Web Developer</h2>
  <h4>Profecient in HTML/CSS/SCSS/JS/Angular2/Jquery</h4>

</div>
